.formBox{
    width:400px;
    margin: 0 auto;
    padding-top: 5%;
}

#notification{
    width:80%;
    margin: 0 auto;
}


html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto;
}

#logoutButton{
    position: absolute;
    top:30px;
    right:10%;
}