.formBox{
    width:400px;
    margin: 0 auto;
    padding-top: 5%;
}

#notification{
    width:80%;
    margin: 0 auto;
}


html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto;
}

#logoutButton{
    position: absolute;
    top:30px;
    right:10%;
}

.dashboard-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ingredients-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ingredient-search-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchresults-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchResult {
    flex-basis: 200px;
    background-color: #fff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    cursor: pointer;
    color: #363636;
    text-align: center
}

.suggestedIngredient {
    flex-basis: 50px;
    background-color: #fff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    cursor: pointer;
    color: #363636;
    text-align: center
}

.dashboard-item {
    flex-basis: 250px;
    background-color: #fff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    cursor: pointer;
    color: #363636;
    text-align: center
}

.ingredient-item {
    flex-basis: 250px;
    background-color: #fff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    cursor: pointer;
    color: #363636;
    text-align: center
}

.rotate div{
    transition: .3s ease;
    }
    
.rotate div:hover{
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    transition: .3s ease;
    }

    .notificationFloat {
        position: absolute;
        z-index: 1;
        top:153px;
    }